*{
  margin: 0px;
  padding: 0px;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
.logo img{
    height: 70px; 
    border-radius: 40px;
    position: relative;
    right: 10px;
}
header{
    display: flex;
    height: 80px;
    width: 100vw;
    border: 1.5px solid;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: red;
    font-size: 18px;
    text-decoration: none;
    font-style: initial;
}
nav {
    display: flex;
    gap: 7%;
    position: relative;
    right: 1px;
}
input{
    padding: 8px 150px 8px 0px;
    border-radius: 8px;
    background-color: wheat;


}